<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>926770532745-l01viqr2eausp0mjs10mse0rcu72q5ab.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.926770532745-l01viqr2eausp0mjs10mse0rcu72q5ab</string>
		<key>ANDROID_CLIENT_ID</key>
		<string>926770532745-rqi3grcciqpfnurnicr6i59di64tcav3.apps.googleusercontent.com</string>
		<key>API_KEY</key>
		<string>AIzaSyCd8vNPTWMoJVEYdeFDMiR7v6ReweeQ95E</string>
		<key>GCM_SENDER_ID</key>
		<string>926770532745</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.heavenRidersIndia</string>
		<key>PROJECT_ID</key>
		<string>ppl2021-01-hri</string>
		<key>STORAGE_BUCKET</key>
		<string>ppl2021-01-hri.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:926770532745:ios:81ecfd528327f5bd2d9158</string>
	</dict>
</plist>